.info_projet{
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;

        video{
            width: 100%;
            border-radius: 24px;
        }

        .information{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 48px;
            .contexte{
                h3{
                    padding-bottom: 20px;
                }
                max-width: 50%;
            }
            
            .credits{
                h3{
                    padding-bottom: 20px;
                }
                ul{
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                }
                
            }
        }

    }
}

.titre_etape{
    display: flex;
    align-items: center;
    gap: 10px;
}

.info_etape{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    p{
        max-width: 50%;
    }

    img{
        width: 588px;
        aspect-ratio: 16/9;
    }
}