/* ==========================================================================
   section / 
   ========================================================================== */
section:not(.hero){
    padding: 100px 0;
}

.hero{
    position: relative;
    width: 100%;

    .wrapper{
        height: 800px;
    }
}

.primary{
    background-color: var(--color-bg-primary);
}

.secondary{
    background-color: var(--color-bg-secondary);
}

.section_gsap {
  display: flex;
  overflow: hidden;
  .section_content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
  }
}

