/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

h1{
    font-size: var(--font-size-h1);
    line-height: 1;
    font-weight: 900;
    font-family: var(--font-secondary);
    text-transform: uppercase;
}

h2 {
    font-size: var(--font-size-h2);
    font-family: var(--font-secondary);
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    font-size: var(--font-size-h3);
    font-family: var(--font-primary);
    font-weight: 800;
}

p{
    font-family: var(--font-primary);
    font-size: var(--font-size-p);
    font-weight: 500;
}

.tag{
    font-family: var(--font-primary);
    font-size: var(--font-size-tags);
    font-weight: 500;
}

.btn{
    font-family: var(--font-primary);
    font-size: var(--font-size-btn);
    font-weight: 600;
    text-transform: uppercase;
}
