{% include '_partials/_header.html' %}

<h1>lalala</h1>
<h2>alalala</h2>
<h3>gaming</h3>
<p>alalala</p>
<p class="btn">alalalala</p>
<p class="tag">asdasdasd</p>
<!--<div id="smooth-wrapper" data-component="Scroller" data-skew="true" data-pin-items>
    <div id="smooth-content">
        <section class="section">
            <div class="wrapper">
                <h2 class="h1 js-pinned" data-component="TextAnim" data-repeat>Le web c'est cool!</h2>

                <img src="assets/images/perso1.jpg" class="img img--large" alt="" data-speed="0.85" data-lag="0.3" />
                <img src="assets/images/perso2.jpg" class="img img--small" alt="" data-speed="1.1" data-lag="0.2" />
                <img src="assets/images/perso3.jpg" class="img img--large" alt="" data-speed="0.85" data-lag="0.3" />
            </div>
        </section>

        <section class="section">
            <div class="wrapper">
                <h2 class="h1 js-pinned" data-component="TextAnim">Les étudiants ont du style</h2>
                <img src="assets/images/perso4.jpg" class="img img--medium" alt="" data-lag="0.5" />
                <img src="assets/images/perso5.jpg" class="img img--large" alt="" data-speed="0.85" data-lag="0.3" />
                <img src="assets/images/perso7.jpg" class="img img--small" alt="" data-speed="1.1" data-lag="0.2" />
                <img src="assets/images/perso6.jpg" class="img img--medium" alt="" data-lag="0.5" />
            </div>
        </section>
        <section class="section section--horiz js-horiz">
            <div class="section__content js-panel">
                <h2 class="h1" data-component="TextAnim">Ici on scroll à la vertical</h2>
            </div>
            <div class="section__content js-panel">
                <h2 class="h1" data-component="TextAnim">
                    <svg class="icon icon--md">
                        <use xlink:href="#icon-arrow-right"></use>
                    </svg>
                    <br />
                    On change la direction
                </h2>
            </div>
            <div class="section__content js-panel">
                <h2 class="h1" data-component="TextAnim">
                    <svg class="icon icon--md">
                        <use xlink:href="#icon-arrow-down"></use>
                    </svg>
                    <br />
                    On retourne vers le bas
                </h2>
            </div>
        </section>
        <section class="section">
            <div class="wrapper">
                <h2 class="h1 js-pinned" data-component="TextAnim">💪 On vient de s'amuser avec GSAP!</h2>
                <img src="assets/images/perso8.jpg" class="img img--medium" alt="" data-lag="0.5" />

                <img src="assets/images/perso9.jpg" class="img img--small" alt="" data-speed="1.1" data-lag="0.2" />
            </div>
        </section>
    </div>
</div>-->
{% include '_partials/_footer.html' %}
