<div id="smooth-wrapper" data-component="Scroller">
  <div id="smooth-content">
    {% include '_partials/_header.html' %}

    <section class="hero hero_projet">
        <div class="hero_media">
          <video src="assets/video/polychroma.mp4" autoplay loop></video>
    
        </div>
        <div class="wrapper">
            <div class="hero_content">
                <h1>Création d’une expérience intéractive à l’aide d’une Kinect</h1>
                <ul>
                  <li>
                    <p class="tag">2026</p>
                  </li>
                  <li>
                    <p class="tag">Médias Interactifs</p>
                  </li>
                  <li>
                    <p class="tag">TouchDesigner</p>
                  </li>
                  <li>
                    <p class="tag">Kinect</p>
                  </li>
                  <li>
                    <p class="tag">Python</p>
                  </li>
                  <li>
                    <p class="tag">Scolaire</p>
                  </li>
                </ul>
            </div>
    
        </div>
    </section>
    
    <section class="info_projet secondary">
      <div class="wrapper">
        <h2>Sur le projet</h2>
        <video src="assets/video/pc_info.mp4" loop controls></video>
        <div class="information">
          <div class="contexte">
            <h3>Contexte</h3>
            <p>Polychroma est un projet scolaire dans lequel il fallait concevoir <strong>une expérience intéractive</strong> à l’aide d’une Kinect V2. 
               Ce projet allait ensuite être utilisé sur une murale pour les étudiants passant.</p>
          </div>
          <div class="credits">
            <h3>Crédits</h3>
            <ul>
              <li><p>Visuels et interactions: Simon Savard-Blondel</p></li>
              <li><p>Musique: freetouse.com</p></li>
              <li><p>Sons:soundsnap.com</p></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    
    <section class="etapes section_gsap js-horiz primary">
      <div class="wrapper">
        <h2>Les étapes de conception</h2>
        <div class="flex_etapes">
          <div class="section_content js-panel etape">
            <div class="titre_etape">
              <p>01/05 - </p>
              <h3>Idéation et inspiration</h3>
            </div>
            <div class="info_etape">
              <p>Je voulais faire une expérience où l’utilisateur intéragit avec des couleurs pour “peindre” l’écran, 
                mais sans recréer le logiciel “MS Paint”. Je me suis donc inspiré du jeu mobile “Fruit Ninja” que je 
                trouvais être un parfait mix d’intéraction utilisateur et peinturage d’écran original. 
              </p>
              <img src="assets/images/pc_inspiration_fn.jpg" alt="Inspiration Fruit Ninja">
            </div>
          </div>
          
          <div class="section_content js-panel etape">
            <div class="titre_etape">
              <p>02/05 - </p>
              <h3>Création du design visuel</h3>
            </div>
            <div class="info_etape">
              <p>Il fallait créer deux design visuels pour le projet, un mode inactif et un mode actif. J’ai décidé d’aller avec des masses de couleurs qui bougent par elles mêmes pour le mode inactif. J’ai assombrit l’arrière-plan et je montre la silhouette de l’utilisateur qui s’incruste pour le mode actif. 
              </p>
              <img src="assets/images/pc_inspiration_fn.jpg" alt="Inspiration Fruit Ninja">
            </div>
          </div>
          
          <div class="section_content js-panel etape">
            <div class="titre_etape">
              <p>03/05 - </p>
              <h3>Création du système d'interactions</h3>
            </div>
            <div class="info_etape">
              <p>J’utilise le même genre de système d’interaction de le jeu “Fruit Ninja”. L’utilisateur éclate les boules de couleurs qui apparaissent pour peindre l’écran.«
              </p>
              <img src="assets/images/pc_inspiration_fn.jpg" alt="Inspiration Fruit Ninja">
            </div>
          </div>
          
          <div class="section_content js-panel etape">
            <div class="titre_etape">
              <p>04/05 - </p>
              <h3>Tests et débogage de Python</h3>
            </div>
            <div class="info_etape">
              <p>Après les premiers tests, je trouve des bugs sur TouchDesigner et le code Python. Je les corriges pour rendre l’expérience aggréable.
              </p>
              <img src="assets/images/pc_inspiration_fn.jpg" alt="Inspiration Fruit Ninja">
            </div>
          </div>
          
          <div class="section_content js-panel etape">
            <div class="titre_etape">
              <p>05/05 - </p>
              <h3>Finalités du projet</h3>
            </div>
            <div class="info_etape">
              <p>Quand l’intéraction et le visuel sont majoritairement finis et fonctionnels, je rajoute les autres boules de couleurs et la sélection aléatoire des couleurs lorsqu’elles éclatent pour rendre l’expérience plus dynamique, colorée et complète. 
              </p>
              <img src="assets/images/pc_inspiration_fn.jpg" alt="Inspiration Fruit Ninja">
            </div>
          </div>
          
        </div>
      </div>
        
      </section>

      <section class="defis primary">
        <div class="wrapper">
          <div class="info_defi">
            <h3>Les défis</h3>
            <p>Les défis principaux du projets étaient de faire fonctionner correctement le système d’intéraction, calibrer les proportions entre TouchDesigner et Kinect ainsi que le code Python.</p>
          </div>
          <div class="info_defi">
            <h3>Les solutions</h3>
            <p>J’ai réussi à faire fonctionner le les interactions en utilisant une détection de collision entre les mains Kinect et les boules de couleurs sur TouchDesigner. La calibration était simplement une question d’arranger la position de la main Kinect en la multipliant par un facteur <1 et le code Python était plus facile en utilisant la documentation du language.</p>
          </div>
          <div class="info_defi">
            <h3>Les apprentissages</h3>
            <p>J’ai appris à utiliser un Kinect et les données qu’elle donne pour faire diverses interactions sur TouchDesigner. J’ai aussi appris que les résolutions de Kinect et de TouchDesigner ne sont pas les mêmes et je dois y faire attention. J’ai aussi plus de facilité à consulter la documentation de Python lorsque j’en ai besoin. </p>
          </div>
        </div>
      </section>

      <section class="finale secondary">
        <div class="wrapper">
          <h2>Le résultat final</h2>
          <div class="video_finale">
            <video src="assets/video/polychroma.mp4" controls loop></video>
            <a href="projets.html" class="btn">Retourner aux projets</a>
          </div>
        </div>
      </section>
      {% include '_partials/_footer.html' %}
    </div>
  </div>
  