{% include '_partials/_header.html' %}
<section class="hero hero_apropos hero_webgl">
    <canvas class="webgl"></canvas>
    <div class="wrapper">
        <h1>Mes projets dont je suis le plus fier.</h1>
    </div>
</section>
<section class="best_project primary">
    <div class="wrapper">
        <h2>Mon projet vedette</h2>
        <div class="best_card">
            <div class="card_media">
                <img src="assets/images/PC_inactif.png" alt="Cover Polychroma">
            </div>
            <div class="card_content">
                <div class="info_projet">

                    <ul>
                        <li>
                            <p class="tag">2026</p>
                        </li>
                        <li>
                            <p class="tag">Médias Interactifs</p>
                        </li>
                        <li>
                            <p class="tag">TouchDesigner</p>
                        </li>
                        <li>
                            <p class="tag">Kinect</p>
                        </li>
                        <li>
                            <p class="tag">Python</p>
                        </li>
                        <li>
                            <p class="tag">Scolaire</p>
                        </li>
                    </ul>
                    <h2 class="titre-projet">Création d’une expérience intéractive à l’aide d’une Kinect</h2>
                </div>
                <a href="polychroma.html" class="btn">Voir plus</a>
            </div>
        </div>
    </div>
</section>
{% include '_partials/_footer.html' %}
